# Python
# ----------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
# ----------------------------------------------------------------
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/

# Database
# ----------------------------------------------------------------
# Ignore database dumps
*.sql
*.bak

# IDEs and Editors
# ----------------------------------------------------------------
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System
# ----------------------------------------------------------------
.DS_Store
Thumbs.db
ehthumbs.db

# Testing and Coverage
# ----------------------------------------------------------------
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/

# Ignore environment variables file
.env